.mainchat
  .header
    .group
      = @group.name
      %ul.group__member
        Member：
        %li.group__group-user
        - @group.users.each do |users|
          = users.name
    =link_to edit_group_path(@group) do
      .edit-btn Edit
  .messages
    = render @messages
  .form
    = form_with model: [@group, @message], id:'new_message', local: true do |f|
      = f.text_field :content, class: 'input-box-content', placeholder: 'type a message'
      = f.label :image, class: 'image' do
        = icon('fas', 'image')
        = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'submit-btn'  