.mainchat
  .header
    .header__group
      %p.header__group__group-name
        test-group
      %ul.header__group__member
        Member：
        %li.header__group__member__group-user
          userA
    =link_to "#" do
      .edit-btn Edit
  .messages
    .messages__user-name
      userA
      .messages__user-name__date
        2020年01月01日00時00分
    .messages__text
      test-text
  .form
    = form_with do |f|
      .input-box
        = f.text_field :content, class: 'input-box-content', placeholder: 'type a message'
        = f.label :image, class: 'image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'submit-btn'